html, body {
	height: 100%;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.map-canvas {
	width: 100%;
	height: 100%;
}

.landmarks li:target {
	background: #333;
}

.landmarks li .details {
	display: none;
}

.landmarks li:target .details {
	display: block;
}

.container {
	height: 100%;
}

a:-webkit-any-link {
color: white;
cursor: auto;
text-decoration: none;
}

.map {
	/*position: absolute;*/
	/*width: calc(100% - 288px);*/
	/*width: 70%;*/
	height: 100%;
	float: left;
	/*float: right;*/
	/*right: 0;*/
}

.landmarks {
	font-family: 'Helvetica Neue', sans-serif;
	background: black;
	color: white;
	/*width: 288px;*/
	/*width: 350px;*/
	height: 100%;
	overflow: scroll;
	float: left;
	width: calc(25% - 1px);
}

.landmarks-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.landmarks a {
	padding: 10px 20px;
	display: block;
}

.landmarks h1, h2 {
	margin: 0;
	margin-bottom: 0.2em;
	font-weight: 100;
}

.landmarks li {
	position: relative;
}

.landmarks h1 {
	font-size: 22px;
}

.landmarks h2 {
	font-size: 12px;
	color: red;
}
